# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore bin directory
**/bin

# Ignore classpath
**/.classpath
**/.project
**/.factorypath

# Run paper plugin
**/run
**/logs

# Ignore jdtls settings
.settings

# IDEA
.idea/
